md-content.rp-content.rp-content-scroll(
  flex
  rp-app-column-resize
  rp-app-infinite-scroll
  rp-app-infinite-scroll-div="#rp-subreddit-posts"
  rp-app-infinite-scroll-distance="5"
)
  .rp-layout-switch(ng-switch="settings.layout")
    .rp-list-view(ng-switch-when="listLayout")
      .rp-subreddit-posts#rp-subreddit-posts(
        layout="row"
        ng-if="posts"
      )
        .rp-posts-list-wrapper
          md-list
            rp-link-list.rp-link-list(
              ng-repeat="post in posts track by post.data.name"
              post="post"
              parent-ctrl="thisController"
              identity="identity"
              show-sub="showSub"
            )


    .rp-card-view(ng-switch-when="singleColumnLayout")
      div.rp-single-col-switch
        .rp-subreddit-posts#rp-subreddit-posts(
          layout="row"
          ng-if="posts"
        )
          .rp-posts-wrapper(layout="row")
            .rp-single-col-wrapper
              rp-link(
                ng-repeat="post in posts track by post.data.name"
                post="post"
                parent-ctrl="thisController"
                identity="identity"
                show-sub="showSub"
                ng-class="{'rp-animation-card': animations}"
              )


    .rp-card-view(ng-switch-when="multiColumnLayout")
      div.rp-single-col-switch
        .rp-subreddit-posts#rp-subreddit-posts(
          layout="row"
          ng-if="posts"
        )
          .rp-posts-wrapper(layout="row")
            .rp-posts-col(ng-repeat="column in columns")
              .rp-col-wrapper
                rp-link(
                  ng-repeat="post in posts track by post.data.name"
                  post="post"
                  parent-ctrl="thisController"
                  identity="identity"
                  show-sub="showSub"
                  ng-if="post.column === $parent.$index"
                  ng-class="{'rp-animation-card': animations}"

                )

  p.rp-content-eol(ng-if="noMorePosts") No more posts.


rp-speed-dial
