md-content.rp-message-content.rp-content-scroll#rp-content(
  flex
  rp-app-infinite-scroll
  rp-app-infinite-scroll-div="#rp-subreddit-posts"
  rp-app-infinite-scroll-distance="3"
  ng-animate-children="true"
)
  .rp-messages#rp-subreddit-posts(ng-if="havePosts")
    rp-message-comment(
      ng-repeat="message in messages"
      parent-ctrl="thisController"
      message="message"
      depth="0"
      identity="::identity"
      ng-class="{'rp-animation-message': settings.animations}"
    )
    p.rp-content-eol(ng-if="noMorePosts") No more messages.	
