md-content.rp-content-scroll.rp-article-card-content
	md-card.rp-article-content.rp-article-card(ng-class="{'rp-article-card-loaded': postLoading === false}")
		.rp-article-content-inner.md-whiteframe-z2(ng-if="post")
			.rp-article-post(ng-class="{'rp-article-post-loaded': postLoading === false}")
				.rp-article-header(layout-padding, layout="row", layout-align="start center")

					rp-score.rp-article-header-score(ng-if="!deleted", score="post.data.score", reddit-id="post.data.name", likes="post.data.likes")

					.rp-card-header-content(flex)
						a.rp-article-header-title(ng-if="!deleted", ng-href="{{post.data.url | rp_hijack_reddit_link}}", target="_blank") {{post.data.title | rp_clean_title}}
						span(ng-if="deleted") [deleted]
						.rp-article-header-details 
							//- span(title="{{ post.data.created_utc*1000 | date: 'medium' }}", am-time-ago="post.data.created_utc")
							span(am-time-ago="post.data.created_utc")
							|  by 
							a.rp-article-header-author(ng-href="/u/{{post.data.author}}" ng-if="!deleted") {{post.data.author}}
							span.rp-article-header-author(ng-click='openAuthor($event)', ng-if="deleted") [deleted]
							|  to 
							a.link.rp-article-header-subreddit(ng-href="/r/{{post.data.subreddit}}") r/{{post.data.subreddit}}

					rp-gilded(parent-ctrl="thisCtrl", author="post.data.author", gilded="post.data.gilded")

				.rp-article-media(ng-if="!post.data.is_self && !deleted", layout-padding)
					rp-media(url="post.data.url", post="post")


				.rp-post-selftext.rp-article-selftext(ng-if="post.data.selftext_html && !thisController.isEditing && !deleted", layout-padding)
					//- p(ng-bind-html="post.data.selftext_html | rp_unescape_html | rp_load_comment_media")
					p(compile="post.data.selftext_html | rp_unescape_html | rp_load_comment_media")

				rp-edit-form(reddit-id="post.data.name", parent-ctrl="thisController", edit-text="post.data.selftext", ng-if="thisController.isEditing")

				.rp-post-selftext
					p(ng-if="deleted") [deleted]

				.rp-article-actions(layout-padding, ng-if="!deleted")
					rp-save-button(reddit-id="post.data.name", saved="post.data.saved")
					rp-share-button(post="post")
					rp-delete-button(parent-ctrl="thisController", ng-if="isMine === true")
					rp-edit-button(parent-ctrl="thisController", ng-if="isMine === true && post.data.is_self")
					rp-gild-button(reddit-id="post.data.name", gilded="post.data.gilded", ng-if="isMine === false")

				rp-delete-form(reddit-id="post.data.name", parent-ctrl="thisController", type="'post'", ng-if="thisController.isDeleting")

				rp-reply-form(reddit-id="post.data.name", parent-ctrl="thisController", ng-if="!deleted")
				//- md-progress-circular.md-accent.rp-article-thread-progress(md-mode="indeterminate", ng-if="commentsLoading")

		.rp-article-thread(ng-if="comments")
			.rp-article-thread-progress-wrapper
				md-progress-circular.md-accent.rp-article-thread-progress(md-mode="indeterminate", md-diameter="32", ng-if="postLoading")
			.rp-article-thread-comment-warning(ng-if="!threadLoading && cid")
				.rp-article-thread-comment-waring-actions(layout="row", layout-align="start center")
					.rp-article-thread-comment-warning-body You are viewing a single comment's thread.
					span(flex)
					md-button.md-accent(href="/r/{{subreddit}}/comments/{{article}}") View the rest of the comments

			rp-comment(
				ng-repeat="comment in comments"
				comment="comment"
				cid="cid"
				depth="0"
				post="post"
				sort="sort"
				identity="identity"
				ng-if="!postLoading"
			)

		p.rp-content-eol.rp-article-nocomments(layout-padding, ng-if="haveComments === false") No comments yet.
		p.rp-content-eol.rp-article-nocomments(layout-padding, ng-if="noMoreComments === true") End of Comments.
		//- md-progress-linear.md-accent.rp-article-comments-loading-progress(ng-controller="rpIndeterminateProgressCtrl", md-mode="indeterminate", ng-show="commentsLoading && !threadLoading && !noMoreComments")
		//- md-progress-circular.md-accent.rp-article-thread-progress(md-mode="indeterminate", md-diameter="32", ng-if="commentsLoading && !threadLoading")
		//- md-button.rp-comments-loadall-card(ng-click="loadAllComments()", ng-if="!threadLoading && !addingComments && !noMoreComments && !cid") Load All Comments
