.rp-comment(class="rp-comment-depth{{::depth}}")
	.rp-comment-inner(layout="row", class="rp-comment-inner-depth{{::depth}}", ng-if="::comment.kind === 't1'", ng-class="{'rp-comment-focussed': isFocussed}")
		.rp-comment-collapse(ng-if="::hasChildren")
			md-button.md-button.rp-comment-collapse-button(ng-click="collapseChildren()", aria-label="collapse comments", ng-class="{'rp-collapse-hidden': isChildrenCollapsed === true}")
				md-icon.rp-comment-collapse-icon(md-svg-src="../../icons/ic_arrow_drop_down_black_24px.svg")
			md-button.md-button.rp-comment-collapse-button(ng-click="expandChildren()", aria-label="expand comments", ng-class="{'rp-collapse-hidden': isChildrenCollapsed === false}")
				md-icon.rp-comment-collapse-icon(md-svg-src="../../icons/ic_arrow_drop_up_black_24px.svg")

		rp-score.rp-comment-score(ng-if="!isDeleted", score="comment.data.score", id="comment.data.name", likes="comment.data.likes")

		.rp-comment-body(flex, layout="column")
			.rp-comment-title
				a.rp-comment-user(ng-class="{'rp-comment-user-op': isOp && !isDeleted}", href="/u/{{::comment.data.author}}") 
					span(ng-if="!isDeleted"){{::comment.data.author}}
					span(ng-if="isDeleted") [deleted]
				span &nbsp&nbsp
				span.rp-comment-details(am-time-ago="::comment.data.created_utc") &nbsp&nbsp&nbsp&nbsp
				span.rp-gilded(ng-if="comment.data.gilded > 0")
					md-tooltip {{::comment.data.author | rp_gilded_alt}}
					md-button.md-fab.rp-gilded-fab(target="_blank", aria-label="gilded")
						md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
							md-tooltip gilded comment
					span.rp-gilded-count(ng-if="comment.data.gilded > 1")  &#215 {{comment.data.gilded}}
			
			.rp-comment-body-html(compile="::comment.data.body_html | rp_unescape_html | rp_load_comment_media", ng-if="!isDeleted && !isEditing")

			.rp-comment-body-edit(ng-if="isEditing", layout-padding)
				form.rp-comment-edit-form(name="rpCommentEditForm", ng-submit="submit()", layout="column", ng-controller="rpCommentEditFormCtrl")
					md-input-container.md-accent(flex, layout-padding)
						textarea(required, ng-model="editText", aria-label="edit post body")
					
					.rp-comment-edit-form-button-area(ng-if="!isSubmitting")
						md-button.md-accent.md-raised.rp-raised-accent(type="submit") Save Edit
					md-progress-circular.md-accent(md-mode="indeterminate", ng-if="isSubmitting", md-diameter="32", layout-padding)
			
			.rp-comment-actions(layout-padding, layout="row", layout-align="start center", ng-if="!isDeleted")
				md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': comment.data.saved}")
					md-tooltip save
				md-button.md-fab.rp-post-fab#reply(aria-label="reply", ng-click="toggleReplying()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_reply_24px.svg", ng-class="{'replying': isReplying}")
					md-tooltip reply
				md-button.md-fab.rp-post-fab#delete(aria-label="delete", ng-click="toggleDeleting($event)", ng-if="isMine === true")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_delete_24px.svg", ng-class="{deleting: isDeleting}")
					md-tooltip delete
				md-button.md-fab.rp-post-fab#edit(aria-label="edit", ng-click="editComment($event)", ng-if="isMine === true")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_mode_edit_24px.svg", ng-class="{editing: isEditing}")
					md-tooltip edit
				md-button.md-fab.rp-post-fab#gild(aria-label="gild", ng-click="gildComment($event)", ng-if="isMine === false")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_stars_24px.svg")
					md-tooltip give gold

			.rp-article-delete(layout-padding, ng-if="isDeleting", layout="row", layout-align="start center")
				p.rp-delete-dialog-heading Are you sure you want to delete this comment?
				.md-actions.rp-delete-dialog-actions(layout-padding)
					.rp-delete-dialog-buttons(ng-if="!isDeleteInProgress")
						md-button.md-button.md-warn(ng-click="confirmDeleteComment($event, comment)") Yep, Delete it
					md-progress-circular.md-accent.rp-delete-dialog-progress(md-mode="indeterminate", ng-if="isDeleteInProgress", md-diameter="32")

			.rp-comment-reply(layout-padding, ng-if="isReplying")
				form.rp-post-reply-form(name="rpPostReplyForm", ng-submit="postCommentReply(comment.data.name, reply)", layout="row", ng-controller="rpCommentReplyFormCtrl")
					md-input-container.md-accent(flex)
						label Reply to this comment
						textarea(ng-model="reply", required, aria-label="comment reply")
					md-button.md-fab.rp-post-fab#send(aria-label="post reply", ng-if="reply")
						md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_send_24px.svg")
						md-tooltip post reply
				rp-formatting


	.rp-comment-showmore(ng-if="::isShowMore")
		md-progress-circular.md-accent.rp-comment-showmore-progress(md-mode="indeterminate", ng-if="isLoadingMoreChildren", md-diameter="24")
		.rp-comment-showmore-link(ng-if="!isLoadingMoreChildren")
			span(ng-click="showMore()") load {{::comment.data.count}} more replies  
				i.mdi.mdi-chevron-down

	.rp-article-continue(ng-if="::isContinueThread")
		a(ng-href="/r/{{::post.data.subreddit}}/comments/{{::post.data.id}}/{{::comment.data.parent_id | rp_name_to_id36}}") 
			span.rp-article-continue-link continue this thread  
				t.mdi.mdi-arrow-right
	
	rp-comment(
		ng-if="!isChildrenCollapsed"
		ng-repeat="comment in comment.data.replies.data.children" 
		comment="comment"
		parent="::currentComment"
		cid="::cid"
		depth="::childDepth"
		post="::post"
		sort="::sort"
		identity="::identity"
	)