.rp-premium-form
    .rp-premium-intro(layout-padding)
        p Features of upgrading to premium
        //- md-button.md-accent.md-raised.rp-submit-button.rp-premium-form-button(ng-click="toggleShowForm($event)") SUBSCRIBE
    form#payment-form(
        layout-padding
        name="rpPremiumForm"
        ng-submit="submit()"
        method="post"
        layout="column"
        ng-show="!subscribing"
    )
        .form-row(flex)
            //- label(for="card-element") Credit or debit card
            md-input-container.md-accent.rp-premium-form-email-container
                label Email
                input.rp-premuim-form-email(required, name="rpPremiumFormEmail", ng-model="email" type="email")
                div(ng-messages="rpPremiumForm.rpPremiumFormEmail.$error", role="alert")
                    div(ng-message="required") Email is required
                    div(ng-message="email") Email entered is not valid
                    
                    
            #card-element
            #card-errors(role="alert")
            
        .rp-premium-form-stripe
            span powered by
                img(src="/images/stripe.png")
            
        .form-row.rp-button-row(flex)
            md-button.md-accent.md-raised.rp-submit-button.no-padding.rp-premium-form-button(aria-label="submit", type="submit") SUBMIT
            p.rp-error.md-warn(ng-show="state === 'error'") Something's not right here, check your details try again.
    
    .rp-premium-subscribing(ng-show="subscribing", layout-padding)
        //- p Processing your subscription...
        md-progress-circular.md-accent(md-mode="indeterminate", md-diameter="48", layout-padding)
    
    //- .rp-premium-subscribed(ng-show="state === 'subscribed'")
        p Thank You for Subscribing.
        md-button.md-accent.nd-raised.rp-premium-form-button(ng-click="closeDialog($event)") AWESOME
