.rp-slideshow(ng-if="slideshow", ng-class="{'rp-animation-slideshow': animations}", class="md-{{theme}}-theme")
	rp-slideshow-header.rp-slideshow-header(
		layout="row"
		ng-class="{'rp-animation-slideshow': animations, 'rp-slideshow-header-autohide': !headerFixed}"
		ng-if="showHeader || headerFixed"
	)
	
		.rp-post-header-content.rp-dark-theme
			a.rp-post-header-title(ng-href="{{post.data.url | rp_hijack_reddit_link}}", target="_blank") {{post.data.title | rp_clean_title}}
			.rp-post-header-details
				rp-score.rp-post-header-score(score="post.data.score", reddit-id="post.data.name", likes="post.data.likes")
				span
					a.rp-post-header-author(href="/u/{{post.data.author}}") {{post.data.author}}
					| &nbsp·&nbsp
					span(am-time-ago="post.data.created_utc")
					span(ng-if="showSub")
						| &nbsp·&nbsp
						a.rp-post-header-subreddit-link(href="/r/{{post.data.subreddit}}") r/{{post.data.subreddit}}
		span(flex)
		md-button.md-icon-button.rp-slideshow-header-button.rp-slideshow-settings-button(ng-click="openSettings($event)")
			md-icon(md-svg-icon="ic_settings_black_24px")
			
		md-button.md-icon-button.rp-slideshow-close-button.rp-slideshow-header-button(
			aria-label="close"
			ng-click="closeSlideshow($event)"
		)
			md-icon(md-svg-icon="ic_close_black_48px")
				md-tooltip(hide, show-gt-sm) close
	
	.rp-slideshow-media(ng-class="{'rp-slideshow-media-header-autohide': !headerFixed}")
		rp-media(url="post.data.url", post="post", slideshow="true")
	md-progress-circular.md-accent.rp-slideshow-progress-circular(md-mode="indeterminate", md-diameter="48")
	//- p.rp-slideshow-progress-circular Loading...
			
	rp-slideshow-controls.rp-slideshow-controls(
		ng-if="showControls"
		ng-class="{'rp-animation-slideshow-controls': animations}"
	)
		md-toolbar(flex)
			.md-toolbar-tools(layout="row", layout-align="center center")
				md-button.rp-slideshow-controls-button.md-icon-button(aria-label="prev", ng-click="prev()")
					md-icon(md-svg-icon="ic_chevron_left_24px")
				rp-slideshow-play-button
				md-button.rp-slideshow-controls-button.md-icon-button(aria-label="next", ng-click="next()")
					md-icon(md-svg-icon="ic_chevron_right_24px")
