.rp-sidenav-identity(ng-if="authenticated")
	md-progress-circular.md-accent.rp-sidenav-identity-loading(
		ng-if="loading"
		md-mode="indeterminate"
		md-diameter="24"
	)

	.rp-sidenav-identity-identity(ng-if="!loading")
		a.rp-sidenav-identity-name(href="/u/{{identity.name}}") {{::identity.name}}
		md-menu
			md-button.md-icon-button.rp-sidenav-identity-menu-button(
				ng-click="$mdOpenMenu($event)"
				aria-label="user menu"
			)
				md-icon(md-svg-icon="ic_arrow_drop_down_black_24px")
			md-menu-content.rp-sidenav-identity-menu-content
				md-menu-item
					md-button(href="/auth/reddit/logout", target="_self") Sign Out

		p.rp-sidenav-identity-score
			span.rp-sidenav-identity-link-karma {{::identity.link_karma}}
			|  •
			span.rp-sidenav-identity-comment-karma &nbsp{{::identity.comment_karma}}
