extends layout

block facebook
  div#fb-root

block content
  //- banner (desktop)
  //- script.
  //-   var ad_idzone = "3053560",
  //-   ad_width = "468",
  //-   ad_height = "60",
  //-   v_pos = "bottom",
  //-   h_pos = "center";
  //- script(type="text/javascript" src="https://ads.exdynsrv.com/js.php?t=17&idzone=3053560")

  //- banner (mobile)
  //- script.
  //-   var ad_idzone = "3053564";
  //-   ad_width = "300",
  //-   ad_height = "100";
  //- script(type="text/javascript" src="https://ads.exdynsrv.com/ads.js")

  //- noscript
  //-   a(href="https://main.exdynsrv.com/img-click.php?idzone=3053564" target="_blank")
  //-     img(src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=3053564&output=img&type=300x100" width="300" height="100")

  //- chat (mobile)
  //- script(type="text/javascript" src="https://syndication.exdynsrv.com/splash.php?idzone=3055316&capping=0")

  //- adsterra banner
  //- .rp-ads-adsterra-banner
    script(type="text/javascript").
      atOptions = {
        'key' : '739971c9ef197eb5390ac21e3400ebcc',
        'format' : 'iframe',
        'height' : 60,
        'width' : 468,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/739971c9ef197eb5390ac21e3400ebcc/invoke.js"></scr' + 'ipt>');


  
  rp-slideshow(ng-if="appCtrl.slideshow.isActive")

  rp-progress

  rp-toolbar

  md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav.rp-sidenav-left.rp-sidenav-white(
    md-component-id="left"
    layout="column"
  )
    rp-sidenav-content

  rp-sidebar

  .rp-page-content#rp-page-content(
    flex
    layout="row" 
    rp-app-infinite-scroll
    rp-app-infinite-scroll-div="#rp-subreddit-posts"
    rp-app-infinite-scroll-distance="5"
  )

    md-sidenav.md-sidenav-left.rp-sidenav.rp-sidenav-docked(
      md-component-id="docked"
      md-is-locked-open="$mdMedia('gt-md')"
      hide
      show-gt-md
    )
      rp-sidenav-content(
        ng-if="sidenav"
        ng-show="showSidenav"
        ng-class="{'rp-animation-sidenav': appCtrl.settings.animations}"
      )

    .rp-app-main(ng-view, ng-class="{'rp-animation-main': appCtrl.settings.animations}")

  span#dialog-anchor
  span#bottom-sheet-parent
