extends layout

block facebook
  div#fb-root

block content
  rp-slideshow(ng-if="appCtrl.slideshowActive")

  md-progress-linear.md-accent.rp-progress(ng-controller="rpAppProgressCtrl", ng-show="loading", md-mode="indeterminate")

  rp-toolbar

  md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav.rp-sidenav-left.rp-sidenav-white(
    md-component-id="left"
    layout="column"
  )
    rp-sidenav-content

  rp-sidebar


  .rp-page-content(layout="row", flex)

    md-sidenav.md-sidenav-left.rp-sidenav.rp-sidenav-docked(
      md-component-id="docked"
      md-is-locked-open="$mdMedia('gt-md')"
      hide
      show-gt-md

    )
      rp-sidenav-content(
        flex
        layout="column"
        ng-if="showSidenav"
        ng-class="{'rp-animation-sidenav': appCtrl.settings.animations}"
      )

    .rp-app-main(ng-view, layout="column", flex, ng-class="{'rp-animation-main': appCtrl.settings.animations}")

  span#dialog-anchor
  span#bottom-sheet-parent
