doctype html
html(
	lang="en"
	ng-app="rpApp"
	ng-controller="rpAppCtrl"
	md-theme="{{theme}}"
	ng-class="{'rp-animation-false': !animations}"
	authenticated=`${authenticated}`
	user-agent=`${userAgent}`
	error=`${error}`
	ng-init="init()"
	
)
	include head.pug

//- p user-agent: #{userAgent}
//- p error: #{error}
//- p message: #{message}

body.rp-body(
	layout="column"
	class="rp-font-{{fontSize}}"
)

	block facebook
	block content
