doctype html
html(
	lang="en"
	ng-app="rpApp"
	ng-controller="rpAppCtrl"
	md-theme="{{theme}}"
	ng-class="{'rp-animation-false': !animations}"

)
	include head.pug

body.rp-body(
	layout="column"

)

	block facebook
	block content
