doctype html
html(
	lang="en"
	ng-app="rpApp"
	ng-controller="rpAppCtrl"
	md-theme="{{theme}}"
	ng-class="{'rp-animation-false': !animations}"
	ng-init=`initValues(${authenticated})`
)
	include head.pug

p user-agent: #{userAgent}

body.rp-body(
	layout="column"

)

	block facebook
	block content
