doctype html
html(lang="en")
	include head.jade
body.rp-body(
	layout="column"
	ng-app="rpApp"
	ng-controller="rpAppCtrl"
	ng-init="setAuthentication(#{authenticated})"
	md-theme="{{theme}}"
	class="rp-animation-{{animations}}"
)
	block facebook
	block content
