doctype html
html(
  lang="en"
  ng-app="rpApp"
  ng-controller="rpAppCtrl as appCtrl"
  md-theme="{{appCtrl.settings.theme}}"
  ng-class="{'rp-animation-false': !appCtrl.settings.animations}"
  is-authenticated=`${isAuthenticated}`
  user-agent=`${userAgent}`
  error=`${error}`
  ng-init="init()"

)
  include head.pug

//- p user-agent: #{userAgent}
//- p error: #{error}
//- p message: #{message}
//- class=""

body.rp-body(
  layout="column"
  ng-class="[appCtrl.settings.fontSize, {'rp-night-theme': !!appCtrl.settings.nightTheme}]"
)

  block facebook
  block content
