doctype html
html(
	lang="en"
	ng-app="rpApp"
	ng-controller="rpAppCtrl"
	md-theme="{{theme}}"
	ng-class="{'rp-animation-false': !animations}"
	ng-init=`setAuthentication(${authenticated})`
)
	p authenticated #{authenticated}
	include head.pug

body.rp-body(
	layout="column"

)
	script.
		console.log('authenticated test: ' + #{authenticated});

	block facebook
	block content
