md-content.rp-article-content(
  rp-comment-scroll
  rp-comment-scroll-distance="3"
  rp-comment-scroll-div=".rp-article-thread"

)
  .rp-article-content-inner(ng-if="post")
    .rp-article-post(ng-class="{'rp-article-post-loaded': postLoading === false}")
      .rp-article-header(layout-padding, layout="row", layout-align="start center")

        .rp-card-header-content(flex)
          a.rp-article-header-title(ng-if="!deleted", ng-href="{{::post.data.url | rpAppHijackRedditLinkFilter}}", target="_blank") {{::post.data.title | rpAppCleanTitleFilter}}
          span(ng-if="deleted") [deleted]
          .rp-post-header-details
            a.rp-post-header-author(ng-href="/u/{{::post.data.author}}" ng-if="!deleted") {{::post.data.author}}
            span.rp-post-header-author(ng-click='openAuthor($event)', ng-if="deleted") [deleted]
            | &nbsp·&nbsp
            span(am-time-ago="post.data.created_utc")
            | &nbsp·&nbsp
            a.link.rp-post-header-subreddit-link(ng-href="/r/{{post.data.subreddit}}") r/{{post.data.subreddit}}

        rp-gild(parent-ctrl="thisCtrl", author="::post.data.author", gilded="post.data.gilded")

      .rp-article-media(ng-if="!post.data.is_self && !deleted", layout-padding)
        rp-media(url="::post.data.url", post="post")

      .rp-post-selftext.rp-article-selftext(ng-if="post.data.selftext_html && !thisController.isEditing && !deleted", layout-padding)
        p(compile="post.data.selftext_html | rpAppUnescapeHtmlFilter | rpCommentLoadMediaFilter")

      rp-edit-form(reddit-id="::post.data.name", parent-ctrl="thisController", edit-text="post.data.selftext", ng-if="thisController.isEditing")

      .rp-post-selftext
        p(ng-if="deleted") [deleted]

      .rp-article-actions(layout="row" layout-padding, ng-if="!deleted", layout-align="start center")
        rp-score.rp-article-action.rp-article-header-score(ng-if="!deleted", score="post.data.score", reddit-id="post.data.name", likes="post.data.likes")
        rp-save-button.rp-article-action(reddit-id="::post.data.name", saved="post.data.saved")
        rp-share-button.rp-article-action(post="post")
        rp-delete-button.rp-article-action(parent-ctrl="thisController", ng-if="isMine === true")
        rp-edit-button.rp-article-action(parent-ctrl="thisController", ng-if="isMine === true && post.data.is_self")
        rp-gild-button.rp-article-action(reddit-id="::post.data.name", gilded="post.data.gilded", ng-if="isMine === false")

      rp-delete-form(reddit-id="::post.data.name", parent-ctrl="thisController", type="'post'", ng-if="thisController.isDeleting")
      rp-reply-form(reddit-id="::post.data.name", parent-ctrl="thisController", ng-if="!deleted")


    .rp-article-thread(ng-if="comments")

      .rp-acticle-select-wrapper(flex, layout="row")
        rp-toolbar-select(type="'articleSort'")
        span(flex)

      .rp-article-thread-comment-warning(ng-if="!threadLoading && comment")
        .rp-article-thread-comment-waring-actions(layout="row", layout-align="start center")
          .rp-article-thread-comment-warning-body You are viewing a single comment's thread.
          span(flex)
          md-button.md-accent(href="/r/{{subreddit}}/comments/{{article}}") View the rest of the comments

      rp-comment(
        ng-repeat="comment in comments"
        comment="comment"
        cid="cid"
        depth="0"
        post="post"
        sort="sort"
        identity="identity"
        ng-if="!postLoading"
      )

    p.rp-content-eol.rp-article-nocomments(layout-padding, ng-if="haveComments === false") No comments yet.
    p.rp-content-eol.rp-article-nocomments(layout-padding, ng-if="noMoreComments === true && haveComments === true") End of Comments.

span#article-bottom-sheet-parent
