md-content.rp-content.rp-content-scroll#rp-content(flex, rp-app-infinite-scroll, rp-app-infinite-scroll-div="#rp-subreddit-posts", rp-app-infinite-scroll-distance="3", scroll="scroll")

  .rp-search-content-switch(ng-switch="type")

    .rp-search-content-link(ng-switch-when="link")
      .rp-layout-switch(ng-switch="settings.layout")

        .rp-list-view(ng-switch-when="listLayout")
          .rp-subreddit-posts#rp-subreddit-posts(
            layout="row"
            ng-if="posts"
          )
            .rp-posts-list-wrapper
              md-list
                rp-search-link-list(ng-repeat="post in posts track by post.data.name" , ng-class="{'rp-animation-card': animations}")

        div(ng-switch-when="singleColumnLayout")
          .rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
            .rp-posts-wrapper(rp-app-column-resize, layout="row")
              .rp-single-col-wrapper
                rp-search-link(ng-repeat="post in posts", ng-class="{'rp-animation-card': animations}")

        div(ng-switch-when="multiColumnLayout")
          .rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
            .rp-posts-wrapper(rp-app-column-resize, layout="row")
              .rp-posts-col(layout="column", ng-repeat="column in columns")
                .rp-col-wrapper
                  rp-search-link(ng-repeat="post in posts", ng-if="post.column === $parent.$index", ng-class="{'rp-animation-card': animations}")




      p.rp-search-nothing(ng-if="nothingPosts") No links found :(
      p.rp-content-eol(ng-if="noMorePosts") No more links.

    .rp-search-content-sub(ng-switch-when="sr")

      .rp-layout-switch(ng-switch="settings.layout")
        div(ng-switch-when="listLayout")
          .rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
            .rp-posts-list-wrapper
              md-list
                rp-search-sub-list(ng-repeat="post in posts")

        div(ng-switch-when="singleColumnLayout")
          .rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
            .rp-posts-wrapper(rp-app-column-resize, layout="row")
              .rp-single-col-wrapper
                rp-search-sub(ng-repeat="post in posts", ng-class="{'rp-animation-card': animations}")

        div(ng-switch-when="multiColumnLayout")
          .rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
            .rp-posts-wrapper(rp-app-column-resize, layout="row")
              .rp-posts-col(layout="column", ng-repeat="column in columns")
                .rp-col-wrapper
                  rp-search-sub(ng-repeat="post in posts", ng-if="post.column === $parent.$index", ng-class="{'rp-animation-card': animations}")

      p.rp-search-nothing(ng-if="nothingPosts") No subreddits found :(
      p.rp-content-eol(ng-if="noMorePosts") No more subreddits.

    .rp-search-content-sublink(ng-switch-when="sr, link")

      .rp-layout-switch(ng-switch="settings.layout")

        div(ng-switch-when="listLayout")
          .rp-subreddit-posts(layout="row", ng-if="subs && !nothingSubs")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveSubs", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Subreddits
                md-button.md-icon-button.rp-search-more-button(ng-click="moreSubs($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more subreddit results
                .rp-posts-list-wrapper
                  md-list
                    rp-search-sub-list(ng-repeat="post in subs")

          .rp-subreddit-posts(layout="row", ng-if="links && !nothingLinks")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveLinks", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Links
                md-button.md-icon-button.rp-search-more-button(ng-click="moreLinks($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more link results
                .rp-posts-list-wrapper
                  md-list
                    rp-search-link-list(ng-repeat="post in links")


        div(ng-switch-when="singleColumnLayout")
          .rp-subreddit-posts(layout="row", ng-if="subs && !nothingSubs")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveSubs", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Subreddits
                md-button.md-icon-button.rp-search-more-button(ng-click="moreSubs($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more subreddit results
                .rp-posts-wrapper-inner(rp-app-column-resize, layout="row")
                  .rp-single-col-wrapper
                    rp-search-sub(ng-repeat="post in subs")

          .rp-subreddit-posts(layout="row", ng-if="links && !nothingLinks")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveLinks", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Links
                md-button.md-icon-button.rp-search-more-button(ng-click="moreLinks($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more link results
                .rp-posts-wrapper-inner(rp-app-column-resize, layout="row")
                  .rp-single-col-wrapper
                    rp-search-link(ng-repeat="post in links")


        div(ng-switch-when="multiColumnLayout")
          .rp-subreddit-posts(layout="row", ng-if="subs && !nothingSubs")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveSubs", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Subreddits
                md-button.md-icon-button.rp-search-more-button(ng-click="moreSubs($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more subreddit results
                .rp-posts-wrapper-inner(rp-app-column-resize, layout="row")
                  .rp-posts-col(layout="column", ng-repeat="column in columns")
                    rp-search-sub(
                      ng-repeat="post in subs"
                      ng-if="columns.length == 1 || $index % columns.length == $parent.$index"
                    )

          .rp-subreddit-posts(layout="row", ng-if="links && !nothingLinks")
            .rp-posts-wrapper(layout="column")
              span(ng-if="haveLinks", ng-class="{'rp-animation-search-card': animations}")
                span.rp-search-srlink-heading Links
                md-button.md-icon-button.rp-search-more-button(ng-click="moreLinks($event)")
                  md-icon(md-svg-icon="ic_arrow_forward_black_24px")
                  md-tooltip(hide, show-gt-sm) more link results
                .rp-posts-wrapper-inner(rp-app-column-resize, layout="row")
                  .rp-posts-col(layout="column", ng-repeat="column in columns")
                    rp-search-link(
                      ng-repeat="post in links"
                      ng-if="columns.length == 1 || $index % columns.length == $parent.$index"
                    )

      p.rp-search-nothing(ng-if="nothingSubs") No subreddits found :(
      p.rp-content-eol(ng-if="noMorePosts") No more subreddits.

      p.rp-search-nothing(ng-if="nothingLinks") No links found :(
      p.rp-content-eol(ng-if="noMorePosts") No more links.
